/001_Digital_Sounds_Loaded.wav
/001_Number.wav
/002_Number.wav
/003_Number.wav
/004_Number.wav
/005_Number.wav
/006_Number.wav
/007_Number.wav
/008_Number.wav
/009_DAME Project Introduction.wav
/009_Number.wav
/010_Number.wav
/011_411749__natty23__bell-ding.wav
/011_Number.wav
/012_127149__daphne_in_wonderland__ding.wav
/012_Number.wav
/013_Number.wav
/014_Number.wav
/015_Number.wav
/016_Number.wav
/017_Number.wav
/018_Number.wav
/021_kickout-voice-heynow.wav
/022_kickout-voice-woohoo.wav
/023_kickout-voice-thereyago.wav
/024_kickout-voice-kickitout.wav
/025_kickout-voice-thereitis.wav
/026_kickout-voice-woopwoop.wav
/027_kickout-voice-awwyeah.wav
/031_kickout-sounds-charlies1.wav
/032_kickout-sounds-charlies2.wav
/033_kickout-sounds-charlies3.wav
/034_kickout-sounds-charlies4.wav
/041_rollover-voice-rollover.wav
/042_rollover-voice-goodjob.wav
/043_rollover-voice-sidelane.wav
/044_rollover-voice-lightthespecial.wav
/051_rollover-sounds__relwin__cyclone_pc1b043_grindbell.wav
/052_rollover-sounds__relwin__humpty_pc1b055_grindbell.wav
/053_rollover-sounds__relwin__stpool_pc1e003_scorebell.wav
/061_tilt-voices-youtilted.wav
/062_tilt-voices-ohnoitsgone.wav
/063_tilt-voices-tiltendsgame.wav
/064_tilt-voices-sosorry.wav
/065_tilt-voices-alldonenow.wav
/066_tilt-voices-youtiltedit.wav
/071_tilt-sounds-Williams Defender01.wav
/072_tilt-sounds-Williams Defender02.wav
/073_tilt-sounds-Williams Defender03.wav
/101_Ain't That A Kick In The Head.wav
/102_Come Fly With Me.wav
/103_I Get A Kick Out Of You.wav
/104_I've Got The World On A String.wav
/105_In The Mood.wav
/106_Mean To Me.wav
/108_The Lady Is A Tramp.wav
/109_They Can't Take That Away From Me.wav
/110_You Make Me Feel So Young.wav
/111_You're Nobody 'Til Somebody Loves.wav
/112_A String Of Pearls.wav
/113_Begin The Beguine.wav
/114_Ive Got A Gal In Kalamazoo.wav
/115_Moonlight Serenade.wav
/116_My Blue Heaven.wav
/117_Taint No Use.wav
/201_All Mixed Up.wav
/202_Baby, Please Don't Go.wav
/203_Be My Lover.wav
/204_Brave And Crazy.wav
/205_Can't Get Enough.wav
/206_Don't Stop 'Til You Get Enough.wav
/207_Feel Like Makin' Love.wav
/208_Get It Up.wav
/209_Gina.wav
/210_Girls Got Rhythm.wav
/211_I Want You To Want Me.wav
/212_Little T&A.wav
/213_Pearl Necklace.wav
/214_Smokin'.wav
/215_Tush.wav
/216_Up In Smoke.wav
/217_You Should Be Dancing.wav
/218_Young Lust.wav
/219_Whole Lotta Rosie.wav
/220_You Give Love A Bad Name.wav
/desktop.ini
/WTConfig.exe
/wttscfg.ini